.pagination {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 30px;
}

.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 0 5px;
}

.pagination button:hover {
  background-color: #45a049;
}

.pagination button:disabled {
  background-color: #dddddd;
  color: #666666;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #008cba;
}
